{% extends 'base.html' %}

{% block content %}

<h1>BioGPT</h1>
<div class="input">
Prompt: <input
    type="text"
    style="width: 500px;"
    id="inputbox"
    onkeydown="if(event.keyCode == 13){ submit() }"
    placeholder="Type"
/>
</div>
<br>
<p id="responsetext">Answer</p>
</div>
<script>
function submit() {
    const query_url = {{ url_for("query") }}
    const response_div = document.getElementById("responsetext")
    const input = document.getElementById("inputbox").value
    const response = fetch(query_url, {"method": "POST",
                      "headers": {"Content-Type": "application/json"},
                      "body": JSON.stringify(input)})
                .then(rsp => rsp.text())
                .then(txt => response_div.innerText = txt)
}
</script>

{% endblock %}